
/* LEARN HOW TO HIDE BORDER OVERFLOW .city:nth-child(7) */

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: white;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  display: flex;
}

#containertwo {
  background-color: blue;
  width: 100vw;
  height: 100vh;
}

.landing {
  min-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  transition-duration: 0.7s;
  background-size: cover;
  
}

.learnmore {
	position: absolute;
	top: 84%;
	left: 5%;
	background-color: #1c1c1c;
	border: none;
  font-size: 1.3em;
	font-family: 'Inconsolata', monospace;
  text-align: center;
  padding: 1%;
  color: white;
}

@media (max-width: 860px) {
  .learnmore, .city {
    font-size: 0.75em;
  }

  .cities {
    min-width: 25%;
    position: fixed;
    right: 0;
    top: 0;
  }
}


.learnmore:hover {
  background-color: #fbffe2;
  cursor: pointer;
  transition-property: background-color, text-align;
  transition-duration: 0.7s;
  color: black;
}



.cities {
  background-color: black;
  position: fixed;
  opacity: 0.8;
  top: 0;
  right: 0;
  width: 13%;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
}

.city {
  border: 1px solid #fbffe2;
  text-align: right;
  height: 14.3%;
  padding: 10% 6% 3% 3%;
  cursor: pointer;
  color: white;
  overflow: hidden;
}

.city:hover {
  background-color: #fbffe2;
  color: black;
  text-align: center;
  transition-property: background-color, text-align;
  transition-duration: 0.7s;
}
.selected-city {
  background-color: #fbffe2;
  color: black;
  text-align: center;
  overflow: hidden;
}