
/* LEARN HOW TO HIDE BORDER OVERFLOW .city:nth-child(7) */

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.containertwo {
  height: 100vh;
  width: 87vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.centered button {
  height: 20vh;
  width: 10vh;
  font-size: 5em;
  background-color: white;
  border: none;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}


.landing {
  min-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  transition-duration: 0.7s;
  background-size: cover; 
}

.left-arrow, .right-arrow {
  width: 20%;
  display: inline-block;
  margin: auto;
  text-align: center;
}

.phone-pic {
  width: 50%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  box-sizing: border-box;
  display: inline-block;
}

.cities {
  background-color: black;
  position: fixed;
  opacity: 0.8;
  top: 0;
  right: 0;
  width: 13%;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
}





.learnmore {
	position: absolute;
	top: 84%;
	left: 5%;
	background-color: #1c1c1c;
	border: none;
  font-size: 1.3em;
	font-family: 'Inconsolata', monospace;
  text-align: center;
  padding: 1%;
  color: white;
}

.learnmore:hover {
  background-color: #fbffe2;
  cursor: pointer;
  transition-property: background-color, text-align;
  color: black;
}

.city {
  border: 1px solid #fbffe2;
  text-align: right;
  height: 14.3%;
  padding: 10% 6% 3% 3%;
  cursor: pointer;
  color: white;
  overflow: hidden;
}

.city:hover {
  background-color: #fbffe2;
  color: black;
  text-align: center;
  transition-property: background-color, text-align;
  transition-duration: 0.7s;
}
.selected-city {
  background-color: #fbffe2;
  color: black;
  text-align: center;
  overflow: hidden;
}


@media (max-width: 860px) {
  .learnmore, .city {
    font-size: 0.75em;
  }

    .cities {
    min-width: 25%;
    position: fixed;
    right: 0;
    top: 0;
  }
}